html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 20% 20% 20% 20% 5%;

    grid-template-areas:
    ". header header ."
    ". input input log"
    "button button button log"
    ". clear . log"
    ". . . log"
    "footer footer footer footer";
}

#title {
    grid-area: header;

    text-align: center;
    align-self: center;
}

#textInput {
    grid-area: input;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#choiceButtons {
    grid-area: button;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#clearButton {
    grid-area: clear;

    align-self: center;
    justify-self: center;
}

#clear {
    height: 70px;
    width: 200px;

    border-radius: 10px;

    font-size: larger;
}

#logDisplay {
    grid-area: log;

    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 25px;

    margin-right: 25px;
}

h2 {
    text-align: center;
}

#log {
    display: flex;
    flex-direction: column;
    white-space: pre;  /*this helps break the lines in .textContent with \r\n */

    margin: 40px 40px;
    margin-top: 0px;

    border-radius: 5px;

    background-color: gainsboro;

    /*this makes it scrollable*/
    /*margin:4px, 4px; */
    padding:4px; 
    width: 80%; 
    height: 90%; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}

.child-old {
    background-color: blue;
}

.child-new {
    background-color: orange;
}

#rock {
    height: 150px;
    width: 150px;

    background-image: url('../images/asteroid.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;

    border-radius: 30%;
}

#paper {
    height: 150px;
    width: 150px;

    background-image: url('../images/document.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 72%;

    border-radius: 30%;
}

#scissors {
    height: 150px;
    width: 150px;
    
    background-image: url('../images/scissors.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;

    border-radius: 30%;
}