html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 20%);

    grid-template-areas:
    ". header header ."
    ". input input log"
    "button button button log"
    ". clear . log"
    ". . . log";
}

#title {
    grid-area: header;

    text-align: center;
    align-self: center;
}

#textInput {
    grid-area: input;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#choiceButtons {
    grid-area: button;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#clearButton {
    grid-area: clear;

    align-self: center;
    justify-self: center;
}

#logDisplay {
    grid-area: log;

    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

h2 {
    text-align: center;
}

#log {
    display: flex;
    flex-direction: column;
    white-space: pre;  /*this helps break the lines in .textContent with \r\n */

    background-color: gainsboro;

    /*this makes it scrollable*/
    margin:4px, 4px; 
    padding:4px; 
    width: 80%; 
    height: 80%; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}

#rock {
    height: 150px;
    width: 150px;

    background-image: url(/images/asteroid.png);
    background-size: 100%;
}

#paper {
    height: 150px;
    width: 150px;

    background-image: url(/images/document.png);
    background-size: 100%;
}

#scissors {
    height: 150px;
    width: 150px;
    
    background-image: url(/images/scissors.png);
    background-size: 100%;
}